* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: ease-in-out 0.5s;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

:root {
  --white: #d7d7fa;
  --black: #1a1a1a;
  --blue: rgb(152, 168, 221);
  --darkBlue: #425266;
  --red: #E47373;
  --green: #66c48d;
}

html,
body {
  width: 100%;
  background-color: var(--darkBlue);
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
}

.switch {
  height: 25vw;
}
.switch div {
  width: 90%;
  margin-left: 5%;
  font-size: 20vw;
  text-align: center;
  align-content: center;
  position: absolute;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5vh;
  transition: 0.2s ease;
}
.switch div:hover {
  background-color: var(--darkBlue);
  transition: 0.2s ease;
}

input {
  width: 85%;
  margin: 2vh 5vw;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 10vh;
  padding: 2.5%;
  border-radius: 5vh;
  background-color: var(--white);
  color: var(--darkBlue);
}

.EndDayCalc {
  margin-top: 15vh;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.EndDayCalc #MKrones {
  margin-top: 10vh;
}
.EndDayCalc #MKrones, .EndDayCalc #MEuros, .EndDayCalc #MDollars {
  color: var(--red);
}
.EndDayCalc #MDollars {
  margin-bottom: 10vh;
}
.EndDayCalc #SubmitButton {
  width: 85%;
  margin: 2vh 5vw;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8vh;
  text-align: center;
  padding: 2.5%;
  border-radius: 5vh;
  background-color: var(--red);
  color: var(--white);
  margin-top: 3vh;
  cursor: pointer;
}
.EndDayCalc #resultOfDay {
  display: none;
  font-size: 7vh;
  min-height: 10vh;
  background-color: var(--blue);
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5%;
  margin: 5%;
  border-radius: 5vh;
  width: 85%;
  color: var(--darkBlue);
}

.ShiftFinishWriter {
  margin: 15vh 0;
  padding: 15vh 0 20vh 0;
  background-color: var(--blue);
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.ShiftFinishWriter #CashTotal {
  margin-top: 10vh;
}
.ShiftFinishWriter #MoneyBeforeMe {
  display: none;
}
.ShiftFinishWriter #Switch {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
}
.ShiftFinishWriter #Switch img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.ShiftFinishWriter #SubmitShift {
  width: 85%;
  margin: 2vh 5vw;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8vh;
  text-align: center;
  padding: 2.5%;
  border-radius: 5vh;
  background-color: var(--red);
  color: var(--white);
  margin-top: 10vh;
  cursor: pointer;
}
.ShiftFinishWriter #ShiftTotalResult {
  display: none;
  font-size: 5vh;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 10vh;
  background-color: var(--darkBlue);
  padding: 2.5%;
  margin: 5%;
  border-radius: 5vh;
  width: 85%;
  color: var(--white);
}

.AllShiftsCalc #finishButton {
  width: 90%;
  margin: 2vh 5%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8vh;
  text-align: center;
  padding: 2.5%;
  border-radius: 5vh;
  background-color: var(--green);
  color: var(--white);
  margin-top: 10vh;
  cursor: pointer;
}
.AllShiftsCalc #clearLocalStorage {
  width: 85%;
  margin: 25vh 7.5% 2% 7.5%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8vh;
  text-align: center;
  padding: 2.5%;
  border-radius: 5vh;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
}

.Hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */